@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif; 
  background-color: #fdf2f7; 
  color: #333; 
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #f8d8e3; 
  color: #333; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  width: 90%;
  max-width: 600px;
  margin: 20px;
}

/* Paragraph Text */
.App p {
  font-size: 1.2em;
  font-weight: 300;
  margin: 10px 0;
  color: #333; 
}

.App-link {
  color: #333; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #f8c8d2; /* Lighter pink on hover */
}

/* Styling for buttons */
button {
  background-color: #f3a9c4; /* Soft pink */
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f8c8d2; 
}

.loaderContainer {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  max-width: 400px;
  margin: 0 auto;
}

.notes-container {
  background-color: #f9e1e8; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.note {
  background-color: #ffffff; 
  color: #333; 
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 1.1em;
  border: 2px solid #f3a9c4; 
}

@media (max-width: 600px) {
  .App-header {
    width: 100%;
    padding: 20px;
  }

  button {
    padding: 10px 20px;
  }

  .notes-container {
    padding: 10px;
  }

  .note {
    font-size: 1em;
  }
}

